# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
venv/

# Dataset & training
dataset/
runs/
notebook/
# *.pt  # Uncomment jika tidak mau upload model

# OS
.DS_Store
Thumbs.db
